<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fitzCode</title>
</head>
<body>
<!-- header -->
<div th:replace="~{fragments/header}"></div>


<!-- 메인 콘텐츠 -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- footer -->
<div th:replace="~{fragments/footer}"></div>

<script th:src="@{/js/admin/notifications.js}"></script>
<script th:src="@{/js/admin/headerNotification.js}"></script>
</body>
</html>