<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <title>Product Page</title>
    <th:block th:replace="~{fragments/header :: header-head}"></th:block>
    <th:block th:replace="~{fragments/footer :: footer-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/product/productDetail.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    
    <!-- Sticky Bar 폼임 -->
    <div class="sticky-container" id="stickyBar">
        <div class="product_area">
            <!-- 상품 이미지 -->
            <div class="thumbnail">
                <img th:src="${product.imageUrl}" th:alt="${product.productName}">
            </div>
            <!-- 상품 텍스트 정보 -->
            <div class="product_list_info_summary">
                <p class="product_title" th:text="${product.productName}">name</p>
                <p class="product_subtitle" th:text="${product.description}">description</p>
                <p class="product_model" th:text="${product.productId}">number</p>
            </div>
        </div>
        <!-- 버튼 영역 -->
        <div class="btn_area">
            <a href="#" class="btn btn_wish2">장바구니</a>
            <button class="btn_action buy_button">
                <strong>구매</strong>
                <div class="price" th:text="${product.formattedDiscountedPrice}"></div>
            </button>
        </div>
    </div>
    
    
    <div class="product-detail-container">
        <!-- 왼쪽: 상품 이미지 -->
        <div class="product-image-section">
            <div class="product-image">
                <img th:src="${product.imageUrl}" th:alt="${product.productName}">
                
                <th:block th:each="image : ${productImageList}">
                    <img th:src="${image.imageUrl}" th:alt="${product.productName}">
                </th:block>
            
            </div>
            <button class="next-btn">></button>
            <button class="prev-btn"><</button>
        </div>
        
        
        
        <!-- 가운데 구분선 -->
        <div class="divider"></div>
        
        <!-- 오른쪽: 상품 정보 -->
        <div class="product-info-section">
            
            <!-- 상품명 및 상세설명 -->
            <div class="product-name" th:text="${product.productName}">Product Name</div>
            <div class="product-description" th:text="${product.description}">This is a brief description of the product.</div>
            <div class="row">
                <div class="product-salePercent" th:text="${product.formattedDiscountPercentage + '%'}"></div>
                <div class="product-originalPrice" th:text="${product.formattedPrice + ' 원'}"></div>
            </div>
            <div class="product-price" th:text="${product.formattedDiscountedPrice + ' 원'}"></div>
            
            
            
            <!-- 상품 세부 정보 -->
            <dl class="product-details">
                <div class="detail">
                    <div class="text">모델번호</div>
                    <span th:text="${product.productId}">12345</span>
                </div>
                <div class="detail">
                    <div class="text">출시일</div>
                    <span th:text="${product.formattedCreatedAt}">2025-03-01</span>
                </div>
                <div class="detail">
                    <div class="text">발매가</div>
                    <span th:text="${product.formattedPrice}">250,000원</span>
                </div>
                <div class="detail">
                    <div class="text">재고</div>
                    <span th:text="${product.stock}">0</span>
                </div>
            </dl>
            
            
            
            <!--  size selector   -->
            <div class="choose-size">
                <label for="size-options">사이즈 선택:</label>
                <div class="size-option-container">
                    <select id="size-options">
                        <option value="">사이즈 선택</option>
                    </select>
                </div>
            </div>
            
            
            <!-- 구매/판매 버튼 -->
            <div class="button-group">
                <div class="cart-button">
                    <div class="buy-text">장바구니</div>
                </div>
            </div>
            
            <!-- 구매/판매 버튼 -->
            <div class="button-group">
                <div class="buy-button">
                    <div class="buy-text">구매</div>
                    <div class="buy-info">
                        <span class="price" th:text="${product.formattedPrice}" >250,000원</span>
                        <span class="subtext">즉시 구매가</span>
                    </div>
                </div>
            </div>
            

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p>hello</p>

        </div>
    </div>
    
    
    <!-- payment Structure -->
    <div id="paymentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Order Summary</h2>
            <div class="modal-product-name" th:text="${'상품: ' + product.productName}">Product Name</div>
            <span class="modal-price" th:text="${'가격: ' + product.formattedDiscountedPrice + '원'}" >250,000원</span>
            <p sec:authorize="isAuthenticated()">구매자: <span th:text="${#authentication.principal.username}"></span></p>
            
            <!--  get address of user using ajax call -->
            <div class="address">
                <p>
                    배송지:<span id="userAddress">불러오는 중...</span>
                </p>
            </div>
            <button id="changeAddressBtn" onclick="changeAddress()">변경</button>
            
            <div class="coupon">
                <p>
                    쿠폰: <span id="userCoupon">No coupons available</span>
                </p>
            </div>
            
            <div class="finalPrice" id="finalPrice">
                <th:block th:text="${product.formattedDiscountedPrice}"></th:block>
            </div>
            

            <button id="continueToPaymentBtn" onclick="closeModal();requestPayment(getSizeCode())">continue</button>
            
        </div>
    </div>
    
    
    
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>


<!-- check if user exists -->
<script th:if="${#authentication.principal == 'anonymousUser'}">
    var isAuthenticated = false;
</script>
<script th:unless="${#authentication.principal == 'anonymousUser'}">
    var isAuthenticated = true;
</script>

<script>
    const productId = [[${product.productId}]];
    const retailPrice = [[${product.discountedPrice}]];
    let finalPrice = [[${product.discountedPrice}]];
    console.log("final price: " + finalPrice);
    
    console.log("Product ID:", productId);
    const cartBtn = document.querySelector('.cart-button');
    const buyBtn = document.querySelector('.buy-button')

    function displayModal() {
        console.log("display modal running...")
        getUserAddress();
        getUserCoupon();
        document.getElementById("paymentModal").style.display = "flex";
    }

    function closeModal() {
        document.getElementById("paymentModal").style.display = "none";
    }
    
    cartBtn.addEventListener('click', () => {
        if (isAuthenticated) {
            checkIfSizeSelected();
        } else {
            window.location.href = '/login';
        }
    });

    buyBtn.addEventListener('click', () => {
        if (isAuthenticated) {
            checkIfSizeSelected(1);
        } else {
            window.location.href = '/login';
        }
    });

    function getSizeCode() {
        const sizeSelect = document.getElementById("size-options");
        const selectedOption = sizeSelect ? sizeSelect.selectedOptions[0] : null;
        return selectedOption.value;
    }

    function checkIfSizeSelected(command) {
        const sizeSelect = document.getElementById("size-options");
        const selectedOption = sizeSelect ? sizeSelect.selectedOptions[0] : null;

        if (!selectedOption || !selectedOption.value) {
            console.log("Please select a size before adding to cart");
            alert("Please select a size before adding to cart");
            return;
        }
        
        const selectedSize = selectedOption.value;
        const selectedStock = selectedOption.dataset.stock;
        if (selectedStock <= 0) {
            console.log("No product of this size is available");
            alert("No product of this size is available");
            return;
        }
        if (command === 1) {
            console.log("command is one, loading modal");
            displayModal();
            // requestPayment(selectedSize);
        } else {
            addToCart(selectedSize, selectedStock);
        }

    }

    function addToCart(sizeCode, selectedStock) {
        console.log("Selected sizeCode:", sizeCode);
        console.log("Stock available:", selectedStock);
        console.log("product number:", productId);
        let sendData = { productId: productId, sizeCode: parseInt(sizeCode) };
        console.log(sendData);

        $.ajax({
            url: "/api/cart/addToCart",
            method: "POST",
            data: { productId: productId, sizeCode: sizeCode },
            success: function (data) {
                console.log("success", data);
                alert("Product added to Cart");
            },
            error: function (xhr, status, error) {
                if (xhr.status === 401) {
                    console.warn("Unauthorized: Redirecting to login...");
                    window.location.href = "/login";
                } else {
                    console.error("Error adding to cart:", error);
                }
            }
        });

    }

    let addressId;
    let addressLine1;
    let postalCode;

    function getUserAddress() {
        console.log("getting user address");
        $.ajax({
            url: "/api/order/getUserAddress",
            type: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.length > 0) {
                    renderAddressDropdown(response);
                } else {
                    $("#userAddress").html("<p>등록된 주소가 없습니다.</p>");
                }
            },
            error: function () {
                $("#userAddress").html("<p>주소를 불러올 수 없습니다.</p>");
            }
        });
    }
    
    let couponId;
    let minOrderAmount;
    function getUserCoupon() {
        console.log("getting user coupons");
        $.ajax({
            url: "/coupon/getUsersCoupons",
            type: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.length > 0) {
                    renderCouponDropdown(response);
                } else {
                    $("#userCoupon").html("<p>쓸수있는 쿠폰이 없습니다.</p>");
                }
            },
            error: function () {
                $("#userCoupon").html("<p>쿠폰을 불러올 수 없습니다.</p>");
            }
        });
    }

    function renderAddressDropdown(addressList) {
        let $select = $("<select>").attr("id", "addressSelect").on("change", function () {
            let selectedIndex = $(this).val();
            updateSelectedAddress(addressList[selectedIndex]);
        });

        addressList.forEach((address, index) => {
            $select.append($("<option>", {
                value: index,
                text: `${address.addressLine1} (우편번호: ${address.postalCode})`
            }));
        });

        $("#userAddress").html($select);
        updateSelectedAddress(addressList[0]);
    }

    function renderCouponDropdown(couponList) {
        let $select = $("<select>").attr("id", "couponSelect").on("change", function () {
            let selectedIndex = parseInt($(this).val(), 10);
            console.log("in render coupon dropdown");
            console.log(couponList[selectedIndex]);

            if (validCoupon(couponList[selectedIndex])) {
                console.log("coupon is valid");
                updateSelectedCoupon(couponList[selectedIndex]);
            } else {
                let firstValidCouponIndex = couponList.findIndex(validCoupon);
                if (firstValidCouponIndex !== -1) {
                    $(this).val(firstValidCouponIndex).trigger("change");
                } else {
                    $(this).val("");
                }
            }
        });

        couponList.forEach((coupon, index) => {
            let isValid = validCoupon(coupon);
            $select.append($("<option>", {
                value: index,
                text: `${coupon.description} (최소금액: ${coupon.minimumOrderAmount})`,
                disabled: !isValid
            }));
        });

        $("#userCoupon").html($select);
        
        let firstValidCouponIndex = couponList.findIndex(validCoupon);
        if (firstValidCouponIndex !== -1) {
            $select.val(firstValidCouponIndex).trigger("change");
        } else {
            $select.val("");
        }
    }

    function validCoupon(coupon) {
        return coupon.minimumOrderAmount <= retailPrice;
    }



    function updateSelectedAddress(address) {
        addressId = address.addressId;
        addressLine1 = address.addressLine1;
        postalCode = address.postalCode;
        console.log("Selected Address:", addressLine1, postalCode);
    }


    function updateSelectedCoupon(coupon) {
        couponId = coupon.couponId;
        minOrderAmount = coupon.minimumOrderAmount;
        console.log("Selected coupon:", couponId);
        checkValidCouponAndCalculatePrice();
    }
    
    
    function checkValidCouponAndCalculatePrice() {
        console.log("checking coupon");
        console.log("calculating final price with couponId: " + couponId);
        console.log("for product with productId" + productId);
        $.ajax({
            url: "/coupon/getPriceWithCoupon",
            data: { productId: productId, couponId: couponId },
            type: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                finalPrice = response;
                console.log("finalPrice is set to " + response);
                $("#finalPrice").html(response);
            },
            error: function () {
                $("#finalPrice").html("<p>쿠폰을 쓰는데 실패했습니다.</p>");
            }
        });
        
        
    }

    function changeAddress() {
        console.log("change address pressed");
        new daum.Postcode({
            oncomplete: function (data) {
                let newAddress = {
                    addressId: null,
                    addressLine1: data.roadAddress,
                    postalCode: data.zonecode
                };
                addNewAddressToDropdown(newAddress);
            }
        }).open();
    }

    function addNewAddressToDropdown(newAddress) {
        let $select = $("#addressSelect");
        let newIndex = $select.children().length;
        $select.append($("<option>", {
            value: newIndex,
            text: `${newAddress.addressLine1} (우편번호: ${newAddress.postalCode})`,
            selected: true
        }));

        updateSelectedAddress(newAddress);
    }

    
    
    // TODO configure to after address
    function requestPayment(sizeCode) {
        console.log(window.PortOne);
        console.log("loaded portone");

        $.ajax({
            url: "/payment/getPostOneInformation",
            method: "POST",
            data: { productId: productId, sizeCode: parseInt(sizeCode), finalPrice:finalPrice },
            dataType: "json",
            success: async function (data) {
                console.log("payment success");
                console.log(data);
                finalPrice = data.totalAmount;
                try {
                    const response = await PortOne.requestPayment(data);
                    console.log("response in ajax call:", response);
                    // imp_uid 저장
                    // const impUid = response.impUid;
                    createOrder(response);
                    
                } catch (error) {
                    console.error("Error processing payment:", error);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error fetching products:", error);
                isLoading = false;
            }
        });
    }
    
    // TODO save paymentId to payment table
    // TODO: mark as transaction when creating order fails, transaction needs to roll back
    function createOrder(response) {
        console.log("creating order");
        console.log(response);

        // create order
        $.ajax({
            url: "/api/order/createOrderFromDetailPage",
            method: "POST",
            data: {
                addressLine1:addressLine1,
                postalCode:postalCode,
                productId:productId,
                sizeCode: getSizeCode(),
                price: finalPrice,
                couponId: couponId
            },
            dataType: "json",
            success: function (data) {
                console.log("success");
                console.log(data);
                // redirect to order page with orderId
                window.location.href = `/order/${data.orderId}`;
            },
            error: function (xhr, status, error) {
                console.error("Error fetching products:", error);
                isLoading = false;
            }
        });
        
        
        
        
        
    }
    
    
    
    
    

    function fetchAvailableSizes() {
        console.log("Fetching available sizes...");

        $.ajax({
            url: "/api/product/getProductSizes",
            method: "POST",
            data: { productId: productId },
            dataType: "json",
            success: function (data) {
                console.log("success");
                console.log(data);
                updateSizeOptions(data);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching products:", error);
                isLoading = false;
            }
        });
        
    }

    function updateSizeOptions(sizes) {
        const sizeContainer = document.querySelector(".size-option-container");
        const newSelect = document.createElement("select");
        newSelect.id = "size-options";

        const defaultOption = document.createElement("option");
        defaultOption.value = "";
        defaultOption.textContent = "사이즈 선택";
        newSelect.appendChild(defaultOption);

        sizes.forEach(size => {
            const option = document.createElement("option");
            option.value = size.sizeCode; // Store sizeCode as the value
            option.textContent = `Size: ${size.sizeName} (Stock: ${size.stock})`;
            option.dataset.stock = size.stock; // Store stock as a data attribute
            newSelect.appendChild(option);
        });

        sizeContainer.innerHTML = "";
        sizeContainer.appendChild(newSelect);
    }



    
    document.addEventListener("DOMContentLoaded", () => {
        // js for the sticky bar
        const stickyBar = document.getElementById("stickyBar");
        window.addEventListener("scroll", () => {
            const scrollY = window.scrollY || window.pageYOffset;
            if (scrollY > 400) {
                stickyBar.style.display = "flex";
            } else {
                stickyBar.style.display = "none";
            }
        });
        fetchAvailableSizes();
        
    });

    let index = 0;
    const nextBtn = document.querySelector('.next-btn');
    const prevBtn = document.querySelector('.prev-btn');
    const productImage = document.querySelector('.product-image');
    const totalImages = document.querySelectorAll('.product-image img').length;
    const imageWidth = document.querySelector('.product-image img').offsetWidth;
    
    const updateImagePosition = () => {
        productImage.style.transform = `translateX(-${index * imageWidth}px)`;
    };

    nextBtn.addEventListener('click', () => {
        index = (index + 1) % totalImages;
        updateImagePosition();
    });

    prevBtn.addEventListener('click', () => {
        index = (index - 1 + totalImages) % totalImages;
        updateImagePosition();
    });
    
</script>

</html>
