<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fitzCode</title>
    <link rel="stylesheet" th:href="@{/css/user/verifyIdentity.css}">
</head>
<body>

<!-- header -->
<div th:replace="~{fragments/header}"></div>

<br><br><br><br>
<div class="mypageContainer">
    <!-- navi -->
    <div th:replace="~{fragments/mypageNavi}"></div>

    <!-- 메인 콘텐츠 -->
    <div class="mypageContent">
        <h2>회원정보 변경</h2>
        <div id="hr"></div>

        <form action="/login" method="post" class="verifyContent">
            <div class="myInfo">
                <th:block th:if="${dto.password != null}">
                <div class="verifyForm">
                    <div><p>이메일</p><input type="text" name="email"></div>
                    <div><p>비밀번호</p><input type="password" name="password"></div>
                    <button type="submit">인증하기</button>
                </div>
                </th:block>
                <th:block th:unless="${dto.password != null}">
                    <div class="verifyForm">
                        <div>로그인시 사용하신 인증수단으로 로그인하십시오</div>
                    </div>
                </th:block>
            </div>
            <div class="social-login">
                <a href="/oauth2/authorization/kakao"><img class="kakao-icon" src="/img/kakao_icon.png" alt="Kakao Logo"></a>
                <a href="/oauth2/authorization/google"><img class="google-icon" src="/img/google_icon.png" alt="Google Logo"></a>
                <a href="/oauth2/authorization/naver"><img class="naver-icon" src="/img/naver_icon.png" alt="Naver Logo"></a>
            </div>
            <input type="hidden" th:value="${session.prevPage}">
        </form>
    </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- footer -->
<div th:replace="~{fragments/footer}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>