<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 사이드바</title>
  <link rel="stylesheet" th:href="@{/css/admin/managerSidebar.css}"/>
</head>
<body>
<!-- 사이드바  -->
<div th:fragment="sidebar" class="adminSidebarWrap">
  <div class="sidebar">
    <div class="sidebar-header">
      <!-- 로고 -->
      <a href="/">
        <img src="/img/fitzLogo.png" alt="관리자 로고" class="sidebar-logo">
      </a>
      <h2>관리자 대시보드</h2>
    </div>

    <!-- 대시보드 -->
    <div class="sidebar-section sidebar-section-dashboard">
      <h3><a href="/admin/dashboard">대시보드</a></h3>
    </div>

    <!-- 판매 관리 -->
    <div class="sidebar-section">
      <h3>판매 관리</h3>
      <div class="submenu">
        <a href="/admin/sales">판매 현황</a>
        <a href="/admin/products/rank">반품 및 교환</a>
        <a href="/admin/products/analysis">환불</a>
        <a href="/admin/products/analysis">배송 관리</a>
      </div>
    </div>

    <!-- 회원 관리 -->
    <div class="sidebar-section">
      <h3>회원 관리</h3>
      <div class="submenu">
        <a href="/admin/members">회원 목록</a>
      </div>
    </div>

    <!-- 상품 관리 -->
    <div class="sidebar-section">
      <h3>상품 관리</h3>
      <div class="submenu">
        <a href="/admin/productEdit">상품 관리</a>
      </div>
    </div>

    <!-- 공지사항 관리 -->
    <div class="sidebar-section">
      <h3>공지사항 관리</h3>
      <div class="submenu">
        <a th:href="@{/admin/notice}">공지사항 목록</a>
        <a th:href="@{/admin/notice/add}">공지사항 작성</a>
      </div>
    </div>

    <!-- 문의 관리 -->
    <div class="sidebar-section">
      <h3>1:1 문의 관리</h3>
      <div class="submenu">
        <a href="/admin/inquiries">1:1 문의 목록</a>
      </div>
    </div>

    <!-- 로그 관리 -->
    <div class="sidebar-section">
      <h3>로그 관리</h3>
      <div class="submenu">
        <a href="/admin/logs/login">로그인 / 에러</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>