<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 목록</title>
</head>
<body>
  <h3>상품목록</h3>

  <a th:href="@{/admin/adminProducts/new}">상품추가</a>
  <table border="1">
    <thead>
      <tr>
        <th>상품 ID</th>
        <th>상품명</th>
        <th>브랜드</th>
        <th>가격</th>
        <th>재고</th>
        <th>상태</th>
        <th>상세보기</th>
      </tr>
    </thead>
      <tr th:each="product : ${products}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + ' 원'"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.status.description}"></td>
        <td>
          <a href="@{/admin/products{id}{id=${product.productId}}}">보기</a>
        </td>
      </tr>
  
  </table>
</body>
</html>