a:visited, a:active, a:hover {
    color: #2f2f32;
    text-decoration: none;
}
.myPageNavi{
    width: 20%;
    padding-left: 65px;
}

.myPageContent{
    width: 60%;
}

.myPageNaviTitle{
    font-size: 25px;
    font-weight: bold;
    color : #2f2f32;
}
.myPageNaviSubtitle a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color : #2f2f32;
}

.myPageNaviMenu a{
    text-decoration: none;
    color: gray;
}

.myPageNaviMenu a:hover{
    color: #2f2f32;
    font-weight: bold;
}


.mypageContainer {
    display: flex;
    margin-top: 60px;
}

.mypageContent {
    width: 800px;
}


#hr{
    width: 100%;
    background: #2f2f32;
    height: 3px;
    border-radius: 10px;
}