<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fitzcode.order.mapper.UserOrderDetailMapper">

    <insert id="batchInsertOrderDetails">
        INSERT INTO ORDER_DETAIL (order_id, product_id, quantity, price, size_code, coupon_id)
        VALUES
        <foreach collection="orderDetails" item="item" separator=",">
            (#{item.orderId}, #{item.productId}, #{item.quantity}, #{item.price}, #{item.sizeCode},
            <if test="item.couponId != null">#{item.couponId}</if>
            <if test="item.couponId == null">NULL</if>)
        </foreach>
    </insert>




</mapper>