/*.mypageContainer {*/
/*    display: flex;*/
/*}*/

/*.mypageContent {*/
/*    width: 800px;*/
/*}*/

/*#hr{*/
/*    width: 100%;*/
/*    background: #2f2f32;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*}*/

.accountInfo {
    display: flex;
    flex-direction: column;
    font-size: 13.3px;
    padding: 10px 20px 20px 20px;
    margin: 30px 20px;
    border: 1px #2f2f32 solid;
    border-radius: 10px;
}

/*여기까지 공통*/




.accountData{
    display: flex
;
    align-items: center;
}

.subTitle{
    font-size: 17px;
    font-weight: bold;
}

#bankSelection{
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

#selectionBox{
    border: 1px solid #2f2f32;
    border-radius: 10px;
    width: 300px;
}

.accountData input{
    margin-left: 12px;
    border: 0px;
    font-size: 13.3px;
}

#subBox{
    display: flex
;
    align-items: flex-end;
    justify-content: space-between;
}

button {
    color: darkgray;
    border: 0px;
    background: white;
    text-decoration: underline;
    cursor: pointer;
}