
.mycouponInfo {
    display: flex;
    flex-direction: row;
    font-size: 13.3px;
    margin: 30px 20px;
    flex-wrap: wrap;
}

/*여기까지 공통*/

#couponOne {
    display: flex;
    padding: 26px 18px 26px 5px;
    border-bottom: 1px solid lightgray;
    height: 58px;
}

.couponList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: calc(45% - 10px);
    padding: 10px;
    margin: 13px;
}

#couponData {
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    border-left: 5px solid #949494;;
    transition: transform 0.2s ease-in-out;
}

#couponData:hover {
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

td p {
    color: #555;
    margin: 7px 0px 0px;
    margin-right: 10px;
}

td div {
    font-weight: bold;
    color: #333;
}

td[colspan="2"] {
    font-weight: bold;
    color: #2f2f32;
    text-align: center;
    margin-bottom: 10px;
}
